/* Global styles */
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f5f5f5;
}

/* User Info styles */
.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #ffffff;
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.3);
}

.user-head {
  color: black;
  text-shadow: 2px 2px 4px grey;
}

.user-info h2 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.user-info p {
  font-size: 1.2rem;
  text-align: center;
  color: #777777;
}

/* Loading styles */
.loading {
  font-size: 3rem;
  margin: 2rem 0;
  text-align: center;
}

/* Refresh button styles */
.refresh {
  padding: 1rem 2rem;
  background-color: #0077ff;
  color: #ffffff;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-top: 1.5rem;
}

.refresh:hover {
  transform: translateY(-2px);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.refresh:focus {
  outline: none;
}

/* Media queries */
@media (max-width: 768px) {
  .user-info h2 {
    font-size: 2rem;
  }

  .user-info p {
    font-size: 1rem;
  }

  .refresh {
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .user-info h2 {
    font-size: 1.5rem;
  }

  .user-info p {
    font-size: 0.8rem;
  }

  .refresh {
    padding: 0.5rem;
    font-size: 1rem;
  }
}

@media (max-width: 360px) {
  .user-info h2 {
    font-size: 1.2rem;
  }

  .user-info p {
    font-size: 0.7rem;
  }

  .refresh {
    padding: 0.3rem 0.5rem;
    font-size: 0.8rem;
  }
}
